body {
}

.about-hero {
  background-image: url("./images/about-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
}

.home {
  color: white;
}

.white-shap {
  position: absolute;
}
.sub-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.about-sud {
  max-width: 740px;
  font-weight: 400;
  font-size: 24px;
  text-shadow: 2px 2px 8px black;
}

.about-title {
  font-weight: 700;
  font-size: 64px;
  text-shadow: 2px 2px 8px black;
}

.about-hero-text {
  filter: brightness(1);

  padding: 300px 608px 100px 92px;
  display: grid;
  gap: 35px;
  justify-items: start;
}

.service-button {
  filter: brightness(1);

  font-weight: 500;
  font-size: 24px;
  cursor: pointer;
  max-width: fit-content;
  margin-top: 10px;
  padding: 17px 50px;
  width: 90%;
  background: #35c36e;
  border-radius: 20px;

  color: white;
}

.about-section {
  overflow-x: hidden;

  display: grid;
  justify-items: center;
  text-align: center;
  gap: 80px;
  margin-top: 50px;
  padding: 50px 120px;
}

.about-text {
  display: grid;
  gap: 10px;
  padding: 10px;
}

.about-text > h2 {
  max-width: 540px;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: start;
}

.color-text {
  color: #f68d1d;
}

.about-text > p {
  max-width: 677px;
  font-weight: 400;
  font-size: 20.5px;
  line-height: 36px;
  text-align: initial;
}
.about-text > p > br {
  display: none;
}

.plan-wrapper {
  color: white;
  padding: 30px 85px;
  display: flex;
  justify-content: space-between;
  gap: 140px;
  background: #35c36e;
  border-radius: 10px;
}
.plan > p {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  text-align: center;
}

.go-section {
  margin-top: 100px;
  padding: 80px 160px;
  background-color: white;
}

@media (max-width: 768px) {
  .about-hero {
    background: url("./images/about-bg-mobile.jpg") 0 0 / cover;
  }
  .service-button {
    max-width: 100%;
    font-size: 24px;
    font-weight: 400;
    padding: 20px;
  }
  .home {
    color: black;
  }
  .white-shap {
    position: absolute;
    max-width: 400px;
  }
  .about-sud {
    max-width: 740px;
    font-weight: 400;
    font-size: 24px;
    max-width: 430px;
    text-shadow: 2px 2px 8px black;
  }

  .about-title {
    font-weight: 700;
    font-size: 40px;
    text-shadow: 2px 2px 8px black;
  }
  .about-hero-text {
    padding: 300px 10px 100px 10px;
    justify-items: center;
    text-align: center;
    gap: 20px;
  }
  .sub-wrapper > img {
    display: none;
  }
  .plan-wrapper {
    display: grid;
    background: none;
    gap: 30px;
  }

  .plan > p {
    color: black;
  }
  .about-section {
    display: grid;
    justify-items: center;
    text-align: center;
    gap: 25px;
    margin-top: 50px;
    padding: 50px 0;
  }
  .about-text > p > br {
    display: inline;
  }
  .about-text {
    display: grid;
    gap: 10px;
    padding: 10px;
  }

  .about-text > h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #32c36c;
  }

  .about-text > h2 {
    font-weight: bolder;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }

  .color-text {
    color: #f68d1d;
  }

  .about-text > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  .plan > h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    text-transform: capitalize;

    color: #39b54a;
  }

  .plan > p {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;
  }

  .go-section {
    margin-top: 120px;
    padding: 110px 32px 60px 32px;
    background-color: white;
  }
}
