/* @import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montagu+Slab:opsz@16..144&display=swap"); */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Indie Flower", cursive;
  font-family: "Montagu Slab", serif;
  font-family: "Poppins", sans-serif;
}

*ul {
  margin: 0;
}
body {
  position: relative;
}
/* nav bar css styles */
.nav-bar {
  position: fixed;
  padding: 0 60px;
  z-index: 1;
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  justify-content: space-between;
  align-items: center;
  transition: all 0.7s;
}

.nab-bar-logo {
  max-width: 370px;
  max-height: 130px;
}
.white-nav {
  background: white;
  box-shadow: 0px 50px 100px 10px rgba(0, 0, 0, 0.05);
}

.white-nav > .nav-items > .item > a {
  color: black !important;
}

.white-nav > .hamburger > .bar {
  background: black !important;
}
.nav-items {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 50px;
}
.item {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 18px;
}

.contact {
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  background: #32c36c;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  background: black;
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .nav-bar {
    padding: 18px 20px;
  }

  .nab-bar-logo {
    max-width: 290px;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active.bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active.bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active.bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-items {
    position: fixed;
    left: -100%;
    top: 110px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 60%;
    text-align: center;
    transition: 0.5s;
    padding-bottom: 20px;
    border-radius: 0 0 20px 0;
  }

  .item {
    margin: 16px 0;
  }

  a {
    font-weight: 500;
  }
  .nav-items.active {
    left: 0;
  }
}

/* hero section styles */
@keyframes scrollLabel {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-200px * 14.5));
  }
}
.hero {
  background: linear-gradient(
      180deg,
      #ffffff 42.88%,
      rgba(255, 140, 0, 0.42) 100%
    ),
    url("./images/Ellipse\ 63.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100%, 850px;
  height: 130vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 75px 20px 20px 120px;
}

.hero-text-wrapper {
  display: grid;
  align-content: center;
  justify-items: start;
}

.hero-subtitle {
  color: #e3840e;
  font-style: italic;
  font-weight: 600;
  font-size: 32px;
}

.title-wrapper {
  display: grid;
  gap: 20px;
}

.hero-main-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
}

span {
  font-family: "Poppins";
  font-style: normal;
  color: #32c36c;
}

.hero-items {
  margin-left: 35px;
  list-style: none;
  display: grid;
  font-weight: 500;
  font-size: 23px;
  line-height: 34px;
  letter-spacing: 0.02em;
}

.hero-items .hero-item::before {
  content: "\2022";
  color: #32c36c;
  font-size: 40px;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.hero-button-wrapper {
  display: flex;
  gap: 50px;
  margin-top: -60px;
  align-items: flex-end;
  grid-column: 1 / span 2;
}

.hero-button-wrapper2 > h1 {
  font-weight: 800;
  font-size: 66px;
  /* identical to box height */
  text-align: center;

  letter-spacing: 0.02em;

  color: #ffffff;
}

.hero-button-wrapper2 > h1 > span {
  font-size: 18px;
  font-weight: 500;
  color: white;
  margin-left: 10px;
}

.hero-button-wrapper2 > p {
  font-style: italic;
  font-weight: 500;
  font-size: 28px;
  text-align: start;
  text-transform: capitalize;
  color: #ffffff;
}

.hero-button {
  margin-bottom: 20px;
  padding: 10px 60px;
  background: white;
  font-weight: 500;
  font-size: 25px;
  line-height: 48px;
  letter-spacing: 0.02em;
  cursor: pointer;
  border-radius: 50px;
  bottom: 40px;
}

.shape {
  display: none;
}
@media (max-width: 768px) {
  @keyframes scrollLabel {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-200px * 2.9));
    }
  }
  .hero {
    margin-top: 90px;
    padding: 60px 30px 0 30px;
    display: flex;
    background-size: 100%, 750px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 50px;
    height: auto;
  }

  .hero > img {
    max-width: 300px;
  }
  .title-wrapper {
    display: flex;

    flex-direction: column-reverse;
    gap: 10px;
  }
  .hero-main-title {
    font-weight: bolder;
    font-size: 28px;
    line-height: 150%;
  }
  .hero-subtitle {
    margin-right: -600px;
    color: #e3840e;
    font-weight: 600;
    font-size: 21px;
    animation: scrollLabel 8s linear infinite;
  }

  .hero-items {
    display: none;
    font-weight: 500;
    font-size: 16px;
    justify-self: center;
    text-align: left;
  }

  .hero-button-wrapper {
    margin-top: 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }

  .hero-button-wrapper2 > h1 {
    font-size: 50px;
  }
  .hero-button {
    padding: 10px 60px;
    background: white;
    background: white;
    font-weight: 500;
    font-size: 18px;
    justify-self: center;
  }

  .hero-text-wrapper {
    gap: 10px;
  }

  .shape {
    display: grid;
    position: relative;
  }

  .shape > img {
    max-width: 350px;
  }

  .shape > .sub-title {
    position: absolute;
    top: 10px;
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  .hero-button-wrapper2 > h1 {
    font-size: 32px;
    padding: 10px 0;
  }
}

.review-section {
  margin-top: 80px;
  display: grid;
  justify-items: center;
  gap: 50px;
}

.why-section {
  background-color: #35c36e;
  padding: 90px 60px 60px 60px;
  display: grid;
  justify-items: center;
  gap: 90px;
}

.why-points {
  list-style: none;
  margin: 0;
  overflow-x: visible;
  justify-self: start;
  margin-top: -50px;
  padding: 0 50px;
}

.why-points li i {
  overflow-x: visible;
}

.why-points > li {
  color: white;
  padding: 10px 0;
  font-size: 22px;
  display: flex;
  gap: 20px;
}
.why-section > h1 {
  max-width: 824px;
  font-weight: 500;
  font-size: 34px;
  line-height: 48px;
  text-align: start;
  color: white;
  justify-self: start;
  padding: 0 50px;
}

.why-section > p {
  margin-top: -70px;
  display: inline;
  max-width: 957px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: white;
}
.why-card {
  overflow-x: visible;
  background: white;
  box-shadow: 0px 4px 100px rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 20px 20px;
}
.why-card > img {
  margin-top: -50px;
}
.why-cards-wrapper {
  display: grid;
  justify-items: center;
  overflow-x: visible;
  grid-template-columns: repeat(2, 2fr);
  gap: 65px;
  padding: 0 30px;
}

.why-cards-wrapper > div:nth-child(5) {
  display: inline;
}
.why-cards-wrapper > div:nth-child(6) {
  display: inline;
}
.why-cards-wrapper > a {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: none;
  text-align: center;
}

.work-hero {
  display: flex;
  gap: 20px;
  text-align: start;
  justify-content: space-around;
  align-items: center;
}

.work-text {
  max-width: 500px;
  display: grid;
  gap: 20px;
}

.work {
  padding: 110px 110px 80px 110px;
  margin: 50px 0;
  display: grid;
  gap: 120px;
}

.work-hero > .work-text > h1 {
  font-weight: 700;
  font-size: 40px;
}

.work-hero > .work-text > p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.work-list {
  display: flex;
  gap: 65px;
  justify-content: center;
}

.work-card {
  display: grid;
  justify-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 40px;
}
.work-card > p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.warranty-wrapper {
  display: flex;
  gap: 100px;
  margin-top: 30px;
}

.logos-wrapper {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: start;
}

.logo-g {
  max-width: 100px;
}

.logo-c {
  max-width: 120px;
}
.img-wrapper {
  margin-top: 35px;
  margin-bottom: -60px;
  display: grid;
  align-self: center;
  justify-items: center;
}

.img-wrapper > img {
  max-width: 500px;
}
.wrapper1 {
  position: absolute;
  top: 170px;
  right: 245px;
}

.wrapper2 {
  position: absolute;
  top: 420px;
  right: 42px;
}
.warranty {
  position: absolute;
  top: 5px;
  right: -26px;
}

.warranty > h1 {
  color: #f68d1d;
  font-weight: 700;
  font-size: 40px;
  margin-top: 5px;
  margin-left: 72px;
}

.warranty > h4 {
  margin-top: -10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #35a432;
}

.years-wrapper {
  display: flex;
  gap: 110px;
  position: relative;
}
.years-wrapper > p {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 1px;
  left: 0;
  right: 0;
  max-width: 150px;
  text-align: center;
  font-style: italic;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  background: #f68d1d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #000000;
}

.brand-section {
  padding: 120px 5px;
  display: grid;
  justify-items: center;
  gap: 20px;
  overflow: hidden;
}

.brand-section > h1 {
  text-align: center;
  color: #181818;
  font-weight: 900;
  font-size: 32px;
  line-height: 48px;
}

.brand-section > p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  max-width: 490px;
}

.go-solar-secton {
  overflow: visible;
  padding: 80px 160px;
  background-color: white;
}
.go-solar {
  overflow-x: visible;
  padding: 30px 0px 35px 80px;
  background: #35c36e;
  border-radius: 16px;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}
.go-solar > img {
  position: absolute;
  top: -130px;
  right: -5px;
}
.go-solar > h1 {
  font-weight: 700;
  font-size: 54px;
}

.go-color > p {
  font-weight: 400;
  font-size: 32px;
}
.go-solar-button {
  max-width: fit-content;
  margin-top: 10px;
  padding: 10px 20px;
  width: 90%;
  background: white;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  color: #35c36e;
  justify-self: center;
}

.go-color {
  color: white !important;
}
footer > p {
  text-align: center;
  margin-top: 100px;
}
footer {
  background: black;
  padding: 50px 75px 30px 75px;
  gap: 60px;
  color: white;
}
.footer {
  color: white;
  display: grid;
  justify-items: center;
  align-items: flex-start;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 50px 10px 0;
  padding-bottom: 10px;
}
.footer-logo {
  display: grid;
  justify-items: start;
  text-align: start;
  gap: 10px;
}

.footer-logo h3 {
  font-weight: 500;
  font-size: 18px;
}

.footer-logo > p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
}
.footer-logo > a > p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
}

.footer-logo:nth-child(1) {
  margin-top: -45px;
}

.footer-logo:nth-child(5) {
  display: none;
}
.footer-logo:nth-child(3) {
  display: none;
}

.flogo {
  width: 200px;
}
.social {
  display: flex;
  gap: 10px;
  align-self: center;
  margin-top: -20px;
  margin-bottom: 20px;
}

.social1 {
  display: flex;
  gap: 10px;
  align-self: center;
}

.video {
  max-width: 500px;
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@media (max-width: 768px) {
  .why-section {
    background-color: rgb(3, 223, 149);
    padding: 50px 0;
    display: grid;
    justify-items: center;
    gap: 50px;
  }

  .video {
    max-width: 300px;
  }

  .why-points {
    margin-top: -20px;
    padding: 0 20px;
  }
  .why-section > h1 {
    max-width: 400px;
    padding: 0 20px;
    font-weight: 600;
    font-size: 23px;
    line-height: 48px;
    color: white;
    text-align: start;
  }
  .why-section > p {
    margin-top: -10px;
    padding: 0 20px;
  }
  .why-cards-wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 65px;
    padding: 0 30px;
  }

  .why-cards-wrapper > div:nth-child(5) {
    display: none;
  }
  .why-cards-wrapper > div:nth-child(6) {
    display: none;
  }

  .why-cards-wrapper > a {
    display: inline;
  }
  .warranty-wrapper {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 30px;
  }
  .logos-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .img-wrapper {
    display: grid;
    justify-items: center;
    gap: 0px;
    margin-top: 0;
  }
  .img-wrapper > img {
    max-width: 300px;
  }
  .logo-g {
    max-width: 100px;
  }

  .logo-c {
    max-width: 150px;
  }
  .wrapper1 {
    max-width: 100px;
    position: static;
  }
  .wrapper2 {
    max-width: 100px;
    position: static;
  }
  .warranty {
    position: absolute;
    top: 5px;
    right: -26px;
  }

  .warranty > h1 {
    color: #f68d1d;
    font-weight: 700;
    font-size: 40px;
    margin-top: 5px;
    margin-left: 0;
  }

  .warranty > h4 {
    margin-top: -10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #35a432;
  }

  .years-wrapper {
    display: flex;
    gap: 110px;
    position: relative;
  }
  .years-wrapper > p {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 1px;
    left: 0;
    right: 0;
    max-width: 150px;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    background: #f68d1d;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #000000;
  }
  .work {
    padding: 30px;
    margin: 50px 0;
    display: grid;
    gap: 50px;
  }
  .work-hero {
    display: grid;
    gap: 20px;
    text-align: center;
    justify-items: center;
  }

  .work-text {
    max-width: none;
    display: grid;
    gap: 20px;
  }
  .work-hero > .work-text > h1 {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
  }

  .work-hero > .work-text > p {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }
  .work-list {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 30px;
  }

  .work-card {
    display: grid;
    justify-items: center;
    background: #ffffff;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 10px;
  }
  .work-card > p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }

  .brand-section {
    padding: 100px 5px;
    display: grid;
    justify-items: center;
    gap: 0px;
  }

  .brand-section > h1 {
    text-align: center;
    color: #181818;
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
  }

  .brand-section > p {
    display: inline;
    text-align: center;
    margin-top: 10px;
    padding: 0 8px;
  }

  .go-solar-secton {
    padding: 110px 32px 60px 32px;
    background-color: rgb(3, 223, 149);
  }
  .go-solar {
    padding: 120px 10px 30px 30px;
    background: white;
    border-radius: 16px;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
  }
  .go-solar > img {
    position: absolute;
    top: -170px;
    right: -20px;
  }
  .go-solar > h1 {
    font-weight: 700;
    font-size: 30px;
  }

  .go-color {
    color: black !important;
    font-weight: 700;
    font-size: 30px;
  }
  .go-solar-button {
    margin-top: 10px;
    padding: 10px 20px;
    width: 90%;
    background: #35c36e;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    color: white;
    justify-self: center;
  }

  footer {
    padding: 0;
  }
  footer > p {
    display: none;
  }

  .footer {
    color: white;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    padding: 50px 10px 0;
    padding-bottom: 10px;
  }

  .footer-logo {
    display: grid;
    justify-items: center;
    text-align: center;
    gap: 10px;
  }
  .footer-logo:nth-child(1) {
    margin-top: 0;
  }
  .footer-logo:nth-child(5) {
    display: grid;
    justify-items: center;
  }
  .footer-logo:nth-child(3) {
    display: grid;
    justify-items: center;
  }
  .footer-logo > p {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.8;
  }
  .flogo {
    width: 200px;
  }
  .social1 {
    display: none;
  }
}

.faq-section {
  padding: 100px 20px 0 20px;
}

.faq-main-title {
  text-align: center;
  margin-bottom: 40px;
}

.faq-container {
  max-width: 600px;
  margin: 0 auto;
}

.faq {
  background-color: transparent;
  border: 1px solid #9fa4a8;
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
}

.faq.active {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.faq.active::before,
.faq.active::after {
  font-family: "Font awesome 5 free";
  color: #2ecc71;
  font-size: 7rem;
  position: absolute;
  opacity: 0.2;
  top: 20px;
  left: 20px;
  z-index: 0;
}

.faq.active::before {
  color: #3498db;
  top: -10px;
  left: -30px;
  transform: rotateY(180deg);
}

.faq-title {
  margin: 0 35px 0 0;
}

.faq-text {
  display: none;
  margin: 30px 0 0;
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  background-color: transparent;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
}

.faq-toggle:focus {
  outline: none;
}

.faq-toggle .fa-times {
  display: none;
}

.faq.active .faq-toggle .fa-times {
  display: block;
  color: white;
}

.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

.faq.active .faq-toggle {
  background-color: #9fa4a8;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-200px * 14.5));
  }
}

.slider {
  display: grid;
  margin-top: 10px;
  align-content: center;
  justify-items: center;
  overflow: hidden;
}

.slider-track {
  margin-left: 2900px;
  overflow: hidden;
  display: flex;
  gap: 100px;
  align-items: center;
  max-width: 1670px;
  animation-delay: 4s;
  transition-delay: 7s;
  animation: scroll 20s linear infinite;
}

.slide {
  width: 200px;
  height: 100px;
  object-fit: contain;
}

@media (max-width: 768px) {
  @keyframes scroll2 {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-100px * 11));
    }
  }

  .slider-track {
    margin-left: 700px;

    overflow: hidden;
    display: flex;
    gap: 50px;
    justify-items: start;
    align-items: center;
    animation-delay: 0s;
    transition-delay: 0s;
    animation: scroll2 15s linear infinite;
  }

  .slide {
    width: 100px;
    height: 50px;
    object-fit: contain;
  }
  .slider {
    display: grid;
    margin-top: 100px;
    max-width: 300px;

    align-content: center;
    overflow: hidden;
  }
}
